<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://creditcommitee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>creditcommitee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>creditcommitee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$creditcommitee</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Commitee.Models.CreditCommiteeDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:creditcommitee.database.windows.net,1433;Initial Catalog=creditcommitee;User ID=CreditCommitee@creditcommitee.database.windows.net;Password=Credit1234" Name="Data Source=tcp:creditcommitee.database.windows.net,1433;Initial Catalog=creditcommitee;User Id=CreditCommitee@creditcommitee.database.windows.net;Password=Credit1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Commitee.Models.CreditCommiteeDB, CreditCommite" MigrationConfiguration="CreditCommitee.Migrations.Configuration, CreditCommite" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CreditCommitee" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:creditcommitee.database.windows.net,1433;Initial Catalog=creditcommitee;User ID=CreditCommitee@creditcommitee.database.windows.net;Password=Credit1234" Name="Data Source=tcp:creditcommitee.database.windows.net,1433;Initial Catalog=creditcommitee;User Id=CreditCommitee@creditcommitee.database.windows.net;Password=Credit1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:creditcommitee.database.windows.net,1433;Initial Catalog=creditcommitee;Persist Security Info=False;User ID=CreditCommitee;Password=Credit1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CreditCommitee_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:creditcommitee.database.windows.net,1433;Initial Catalog=creditcommitee;Persist Security Info=False;User ID=CreditCommitee;Password=Credit1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Commitee.Models.CreditCommiteeDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:creditcommitee.database.windows.net,1433;Initial Catalog=creditcommitee;User Id=CreditCommitee@creditcommitee.database.windows.net;Password=Credit1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CreditCommitee-Web.config Connection String">
      <ParameterValue>data source=tcp:creditcommitee.database.windows.net,1433;initial catalog=creditcommitee;user id=CreditCommitee@creditcommitee.database.windows.net;password=Credit1234;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CreditCommitee.Models.ScaffoldingContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Commitee.Models.CreditCommiteeDB" />
    <_ConnectionStringsToInsert Include="CreditCommitee.Models.ScaffoldingContext" />
  </ItemGroup>
</Project>